<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class= <img class="vertical menu" src="https://img.etimg.com/thumb/msid-68991356,width-300,imgsize-670593,,resizemode-4,quality-100/25.jpg" alt="Earth" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
  </div>
</header>
<div>
  

<div class="container-row ng-scope"><br>
  <img class= <img class="vertical menu" src="https://img.etimg.com/thumb/msid-68991356,width-300,imgsize-670593,,resizemode-4,quality-100/25.jpg" alt="Earth" width="200">